@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.leaflet-container {
  font-family: 'Manrope', sans-serif !important;
}
.leaflet-control-zoom {
    display: none;
}
.leaflet-div-icon {
    background: transparent !important;
    border: 0 !important;
}